@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

*{
    margin:0;
    padding:0;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria : #f6f6f6f6;
    --cor-terceiaria: #22D4DF;
}

body{
    /* height: 100vh; tamanho conforme ao viewport da tela */
    box-sizing: border-box; /*controle dos elementos filhos dentro dos elementos pai*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

strong.text{
    color: var(--cor-terceiaria);
}

.principalContent{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__section{
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.content__section_title{
    font-size:36px;
    font-family: "Krona One", sans-serif;
}

.content__section_paragraph{
    font-size:24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.button{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.buttonLink{
    width: 378px;
    display: flex;
    gap: 16px;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 21px 0;
    text-decoration: none;
    color:var(--cor-secundaria);
    border: 2px solid var(--cor-terceiaria);
}

.buttonLink:hover{
    background-color: #272727;
}

.content__section__sub{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.footerConfig{
    background-color: var(--cor-terceiaria);
    color: var(--cor-primaria);
    padding: 25px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.headerConfig{
    padding: 2% 0% 0% 15%; 
}

.headerConfigLink{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-terceiaria);
    text-decoration: none;
}

.menu{
    display: flex;
    gap:80px;
}